
.card{
    width: 400px;
    height: 250px;
    margin: 0 auto 
}

body{

    background-color: rgba(227, 225, 225, 1);
}

.form-control{
    border-color: rgb(19, 178, 141);
}

.form-control:active{
    border-radius: rgb(19, 178, 141);
}

.exit{
    background-color: rgb(114, 187, 170);
    border-color:  rgb(114, 187, 170);
    color: rgba(255, 255, 255, 1);
}
.exit:active {
    background-color: rgb(14, 113, 90) !important; 
    color:  rgba(255, 255, 255, 1) !important; 
}
.exit:hover{
    background-color: rgb(14, 113, 90);
    border-color:  rgb(14, 113, 90);
    color: rgba(255, 255, 255, 1);
}

.vozvr{
    color: rgb(19, 178, 141);
}
a {
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    color: rgb(19, 178, 141); /* Устанавливаем цвет ссылки */
    cursor: pointer; /* Заменяем курсор на указатель при наведении */
  }